
.slide{
    position: relative;
    top: 68px;
    height:auto;
    text-align: center;
    background: linear-gradient(135deg, rgba(74, 144, 164, 0.1) 0%, rgba(143, 188, 143, 0.1) 100%);
}

.slide-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 50px;
}

.slide-subtitle{
    font-weight: 100;
    font-size: 18px;
}

.slider-btn{
    font-weight: 400;
}

#slider-btn-patient{
    background-color: rgb(74 144 164 / var(--tw-bg-opacity, 1)) !important;
    padding: 14px 20px !important;
    font-weight: 600;


}

#slider-btn-schedule{
    color: rgb(74 144 164);
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)) !important;
    border: 1px solid rgb(74 144 164) 30%;
    padding: 14px 20px !important;
    font-weight: 600;


}

.section{
    background-color: #fdfdfd;
}

.dashboard-box {
    padding: 1% 9%;

}

.not-available{
    background-color: #fabebe71;
}

.available{
    background-color: #dcfabe71;
}

